<div class="login">
    <form action="/login" method="post">
        <div>
            <label for="exampleEmailInput">Username</label>
            <input class="" type="text" name="user" placeholder="enter username">
        </div>
        <br>
        <div>
            <label for="examplePassword">Password</label>
            <input class="" type="password" name="password" placeholder="enter password">
        </div>
        <br>
        <button class="buyBtn" type="submit">LOGIN</button>
    </form>

</div>