<h1>Add pizza</h1>

<form action="/pizza_add" method="post">
    <div>
        <label for="">Flavour</label>
        <input type="text" name="flavour">
    </div>

    <div>
        <label for="">Size</label>
        <select name="size" id="">
            <option></option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
    </div>
    

    <div>
        <label for="">Price</label>
        <input type="number" name="price">
    </div>

    <div>
        <input type="submit" id="">
    </div>
</form>