<h1>Pizzas</h1>

<a href="/pizza_add">Add pizza</a>

<table>
    {{#each pizzas}}
    <tr>
        <td>{{flavour}}</td>
        <td>{{size}}</td>
        <td>{{price}}</td>
    </tr>
    {{/each}}
</table>