
/* 
body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #3FA9E2;
	font-size: 0.75em;
  }

.btn {
	padding: 1em;
	margin: 1em;
	font-size: 1em;
	background-color: #3FA9E2;
	border-radius: 0.25em;
	border: 0 solid snow;
	color: snow;
}

.container {
	background-color: #CDD93F;
	padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
}


  	.btn-sm {
		padding: 0.25em;
		margin: 0.25em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

  	.btn-med {
		padding: 0.75em;
		margin: 0.75em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

	.field {
		margin: 1em;
	}

	/* .field label {
		margin: 1em;
	} 


	.header {
		display: flex;
	}

	.orderBox {
		display: flex;
		

		/* position: fixed; */
		/* width: 20em;
		min-height: 25em;
		background-color: violet;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em; 
	}

	.hidden {
		display: none;
	}

	.cart {
		/* position: fixed; 
		width: 100%;
		/* margin: auto; 
		/* width: 40%; 
		/* min-height: 15em; 
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; 
		border-radius: 0.25em;
		/* z-index: 1000; 
	}

	.cartTotal {
		position: fixed;
		/* width: 100%; */
		/* margin: auto; 
		width: 20%;
		/* min-height: 15em; 
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		/* border: 0.1em solid; 
		border-radius: 0.25em;
		/* z-index: 1000; 
	}

	.cart table {
		border-collapse: collapse;
	}
	
	.cart table {
		border-collapse: collapse;
		width: 100%;
	}

	.cart td {
		border-top: 1px solid snow;
	} 

	.cart th, td {
		padding: 15px;
		text-align: left;
	}

	.cart img {
		width: 2em;
	}

	.cart h3 {
		/* text-decoration: underline; display: inline;
	}

	.cartTotal {
		padding: 1em;
	}

	.cartTotal img {
		/* padding: 1em; 
		width: 2em;
	}
	
	.info {
		height: 15em;
	}

  	.small {
		background-color: #E03571;
  	}
  
  .medium {
	background-color: #E2AE3D;
  }
  
  .large {
	background-color: #E06733;
	flex : 2;
  }
  
  .specials div {
	flex: 1;
	/* border: 1px solid lightgrey; 
	margin: 0em;
	padding: 1em;
	
  }
  
  .small img {
	width: 4em;
  }
  
  .medium img {
	width: 5em;
  }
  
  
  .large img {
	width: 7em;
	
  }
  
  .footer {
	display: flex;
  }
  
  .hidden {
	  display: none;
  }

.qty {
	padding: 0.5em;
	width: 3em;
}

.pizza {
	flex: 1;
	margin: 0.5em;
	padding: 0.5em;
	/* background-color: ; 
	border-radius: 1em;
}

label {
	font-weight: bold;
}

select {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=text], input[type=number], textarea {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=submit], button {
	padding: 1em;
  	border: 0.3em solid #000;
	font-weight: bold;
	font-size: 1em;
}
  
table, td, th {    
    border: 1px solid snow;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}

.space_below {
	margin-bottom: 1em;
}

  @media (min-width: 768px){
	
	.cart {
		width: 25%;
		/* width: 40%; */
		/* margin: auto; 
		margin: 1em;
	}

	.pizzas {
	  display: flex;
	}
	
	body {
	  font-size: 1em;
	}
	
  }
*/

body {
    background-color: #000000;
    font-family: cursive;
    width: fit-content;
    
}

.heading {
    text-align: center;
    color: rgb(218, 203, 203);
    font-size: large;
}

.ShoppingCart {
    background-color: #71539A;
    text-align: center;
    box-shadow: 0 6px 20px rgba(113, 83, 154, 0.2) , 6px 6px 6px rgba(113, 83, 154,0.3);
    font-size: large;
    font-weight: 200;
}

.button {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    font-family: cursive;

}

.check {
    width: 15em;
    height: 3em;
    font-weight: 400;
    font-family: cursive;
}

.buyBtn {
    font-weight: 400;
    width: 15em;
    height: 3em;
    font-family: cursive;

}



@media (min-width: 760px) {
    .pizzas{
        display: flex;
    }  
    
    .social{
        display: flex;
    }
}

@media (min-width: 0px) {
    .social{
        display: flex;
    }
}


.box {
    
    padding: 1em;
    font-weight: 400;
    margin: 1em;
    border-radius: 0.3em;
    margin-bottom: 1em;
    
}

.small-pizza {
    background-color: #3F8BC8;
    flex: 1;
    text-align: center;
    box-shadow: 0 6px 20px rgba(34, 130, 209, 0.2) , 6px 6px 6px rgba(34, 130, 209,0.3);



}
.meduim-pizza {
    background-color: #C02684;
    flex: 1;
    text-align: center;
    box-shadow: 0 6px 20px rgba(192, 38, 132, 0.2) , 6px 6px 6px rgba(192, 38, 132,0.3);


    
}

.large-pizza {
    background-color: #F6A425;
    flex: 1;
    text-align: center;
    box-shadow: 0 6px 20px rgba(246, 164, 37, 0.19) , 6px 6px 6px rgba(246, 164, 37,0.23);


    
}

.footer {
    background-color: #E27D4F;
    margin: auto;
    text-align: center;
    font-weight: 200;
    
}

.social {
    text-align: center;
}

.social li {
    list-style: none;
    margin: 0em;
    padding: 0em;
    flex: 1;
    
}

.social a {
    padding: 0.1em;
    display: block;
    width: 6em;


}

.social a:hover {
    background-color: #ee6120;
    transform: scale(1.2);
}

.hidden {
    display: none;
}
 
  
  